<div class="header">

  <h3 class="text-muted">uncorked</h3>
</div>
  <h3> Signup to the worlds greatest Casino </h3>
    <div ng-controller="SignUpController as signupCtrl">
      <form name="signUpForm" ng-submit="signupCtrl.addSignup(signup)" >
      <label>Email:</label>
      <input ng-model="signupCtrl.signup.email" type="email" />
    </br>
      <label>Username:</label>
      <input ng-model="signupCtrl.signup.username" type="text" />
    </br>
      <label>Password:</label>
      <input ng-model="signupCtrl.signup.password" type="password" />
      </br>
      <label>Password Confirmation:</label>
      <input ng-model="signupCtrl.signup.passwordConfirmation" type="password" />
    </br>
      <input type="submit" value="Submit" />
      </form>
    </div>
  </br>
    <p> already signed up? <a href="#/signin"> Login</span> </p>
</div>